/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
  margin: 40px;
}

/* Heading styling */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

/* Form styling */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

/* Input styling */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #CCC;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* Submit button styling */
#register-btn {
  background-color: #007bff;
  color: #FFF;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}

#register-btn:hover {
  background-color: #0056b3;
}
/* Error field styling */
.error-field {
  color: red;
  font-size: 0.8rem;
  margin-left: 100%;
  transform: translateX(-100%);
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
}

div.footer{
  margin-top: 150px;
}