<footer class="footer">
  <div class="foot-box">
    <div class="navbar-links">
      <ul>
        <li><a href="#">Find Parking Spots?</a></li>
        <li><a href="#">Lend Space</a></li>
        <li><a href="routes/CustDev/AbtPro/AboutUs.html">Company</a></li>
        <li><a href="routes/CustDev/VulFaq/DocnFAQ.html">Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="l-footer">
      <p class="footer-desc">
        Parkie is the trading name of Parkie Parking Limited Registered in
        England, Gateway house Leicester
      </p>
    </div>
  </div>
</footer>

