<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='CustDev/AboutUs.css') }}"
    />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://i.postimg.cc/NMbHx9JP/favicon.png"
    />
    <title>Parkie - About</title>
  </head>
  <body>
    {% include header %}
    <div id="about-us" style="height: 1000px">
      <div class="box-1">
        <img
          src="https://i.postimg.cc/FsNxHbKQ/about.jpg"
          height="400"
          width="400"
        />
        <h1>Simplifying your Journey!</h1>
      </div>

      <!-- stats -->
      <div class="stats">
        <h4>100%<br />satisfaction rate</h4>
        <h4>
          10 million+ <br />
          drivers
        </h4>
        <h4>50,000+<br />space owners</h4>
        <h4>2 million+<br />bookings per year</h4>
      </div>

      <h1>About Us</h1>
      <p style="text-align: center">
        What is Parkie? Parkie is a clever app that lets you book parking, rent
        out your space or find an EV charger. But that’s just part of the story,
        Because Parkie is also a community. It’s the ten million drivers and the
        twenty-five thousand space owners that have joined us on this journey to
        simplify parking and create a greener, calmer world where we can all
        breathe easier. And, it’s the countless little moments shared, thanks to
        the thousands of minutes saved not looking for a parking space. JustPark
        Your parking & charging community.
      </p>

      <a href="{{ url_for('howto') }}"
        ><button id="learn-more">Learn More</button></a
      >
    </div>

    {% include login %}

    <script
      src="{{ url_for('static', filename='CustDev/AboutUs.js') }}"
      defer
    ></script>
    {% include footer %}
  </body>
</html>
