<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Information for the webpage -->
    <meta charset="utf-8">

<head>
	<title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CDashboard.css', _external=True) }}">
</head>
<body>
                    {% include header %}
	<div class="container">
		<div class="sidebar">
			<h1>Dashboard</h1>
			<button id="profile-btn">Manage Profile</button>
		    <button id="cards-btn">Manage Payment Methods</button>
		</div>
		<div class="content">
			<div id="iframe-container"></div>
		</div>
	</div>
        <script src="{{ url_for('static', filename='CDashboard.js') }}" defer></script>
                        {% include footer %}
</body>
</html>
