body {
  background-color: #ffffff;
  color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 200px;
  margin-bottom: 20px;
}
  
.button-container button {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.button-container button img {
  /* filter: brightness(0.5) hue-rotate(120deg); */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}
  
.input-label {
  text-align: center;
  margin-bottom: 5px;
}
  
.input-field {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  padding: 5px;
}
  
button {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  width: 100%;
}
  
button:hover {
  background-color: #a9a9a9;
}

#facebook-login-button {
  background-color: #ffffff;
}

#google-login-button {
  background-color: #ffffff;
}

.button-login {
  display: inline-block;
  background-color: #4CAF50;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
  width: 100%; /* Use the full width available */
}

.button-login:hover {
  background-color: #2E8B57;
}

#facebook-login-button:hover, #google-login-button:hover {
  background-color: #a9a9a9;
}

a {
  color: #4CAF50;
}

a:hover {
  text-decoration: underline;
}
