body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 220px;
  margin-bottom: 20px;
  min-height: 80px;
}

.button-container button {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  color: #4CAF50;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#facebook-login-button {
  width: 100%;
}

#google-login-button {
  width: 100%;
}

.button-container button:hover {
  background-color: #4CAF50;
  color: #ffffff;
}

.button-container button img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.input-label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4CAF50;
}

.input-field {
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  padding: 10px;
}

button.button-login {
  display: inline-block;
  background-color: #4CAF50;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  width: 100%;
}

button.button-login:hover {
  background-color: #2E8B57;
}

a {
  color: #4CAF50;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #2E8B57;
  text-decoration: underline;
}



