<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parkie - Parking</title>
    <!-- fav icon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://i.postimg.cc/NMbHx9JP/favicon.png"
    />

  </head>

  <body>
    {% include header %} {% include login %}
    <iframe
      src="http://localhost:4000"
      frameborder="0"
      width="100%"
      height="1000px"
      allow="geolocation"
    ></iframe>

    {% include footer %}

    <script
      src="{{ url_for('static', filename='ParkDev/main.js') }}"
      defer
    ></script>
  </body>
</html>

