
body {
    background-color: white; /* This is a light gray color */
}

/* Navbar styles */
.navbar {
    background-color: #343a40; /* You can change this color to your preferred one */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 100px;
}

    .navbar .navbar-brand {
        color: #0dcaf0;
        font-weight: bold;
        font-size: 24px;
    }

    .navbar .navbar-nav .nav-link {
        color: #0dcaf0;
        font-weight: 500;
        padding: 0.5rem 1rem;
    }

        .navbar .navbar-nav .nav-link:hover {
            color: #cccccc;
        }

    .navbar .navbar-nav .nav-item:last-child .nav-link {
        background-color: #007bff; /* You can change this color to your preferred one */
        color: #ffffff;
        border-radius: 4px;
        font-weight: 600;
    }

        .navbar .navbar-nav .nav-item:last-child .nav-link:hover {
            background-color: #0056b3;
        }
/* Navbar styles */

/* Header styles */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-top: 40px;
}

    header .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

@media (max-width: 991.98px) {
    header .row {
        flex-direction: column;
    }
}

.header-Driveway1 { /* Driveway1 Image */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: rotate(-5deg);
    max-width: 100%; /* This ensures the image doesn't overflow its container */
}

/* Header styles */

/* Benefits Section */
.custom-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Benefits Section */

/* additonla information for Benefits Section */

/* additonla information for Benefits Section */

/* Postcode estimate */
.postcode-section {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

    .postcode-section h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .postcode-section .form-control {
        margin-bottom: 15px;
    }

.signup-link {
    color: #ffffff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease;
}

    .signup-link:hover {
        background-color: #0056b3;
    }


/* Postcode estimate */




