* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #24AA81;
	color: #fff;
	padding: 20px;
	text-align: center;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

section {
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
	flex: 1;
	min-width: 300px;
	max-width: 600px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 5px;
}

button[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}

img {
	display: block;
	margin-top: 10px;
	max-width: 200px;
}

footer {
	background-color: #24AA81;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
  width: 100%;
  }
