<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Parkie- Register</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CustDev/Register.css') }}">
    </head>
    <body>
        {% include header %}
        {% include login %}
        <h1>Registration Form</h1>
        {% if error_messages %}
            {% for error_message in error_messages %}
                <div class="alert alert-warning" role="alert">
                    {{ error_message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if error_message %}
            <div class="alert alert-warning" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <form id="registration-form" action="/register" method="POST">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="text" id="firsn" name="firsn" placeholder="First Name" required>
            <input type="text" id="lasn" name="lasn" placeholder="Last Name" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="tel" id="phone" name="phone" placeholder="Phone" required>
            <input type="text" id="postcode" name="postcode" placeholder="Postcode" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit" id="register-btn">Register</button>
        </form>
        {% include footer %}
    </body>
</html>

