
body {
    background-color: white; 
}
.header-Driveway1 { /* Driveway1 Image */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: rotate(-5deg);
    max-width: 100%; 
}
/* Benefits Section */
.custom-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}








