<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DocnFAQ.css') }}">
        <title>Manage kar lo idhar docs</title>
    </head>

    <body>
        {% include header %}

        <h1>I'll be adding User's Guide here when everyone has completed everything so that this page will allow users to learn on how they can surf the page</h1>
        <script src="{{ url_for('static', filename='DocnFAQ.js') }}" defer></script>
      {% include login %}

        {% include footer %}
    </body>
</html>
