<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <meta charset="utf-8">
        <title>Contact Us</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CustDev/VulRep.css', _external=True) }}">
    </head>
    <body>
                {% include header %}
        <h1>Contact Us</h1>
        <form id="vulnerability-form" action="/vulnerability_report" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>

            <input type="submit" value="Submit">
        </form>
        {% include login %}
        <p id="message"></p>
        <script src="{{ url_for('static', filename='CustDev/VulRep.js') }}" defer></script>
                {% include footer %}
    </body>
</html>
