<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Manage Customers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="MngCusts.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../MngCusts.css', _external=True) }}">
  </head>
  <body>
    <h1>Manage Customers</h1>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Postcode</th>
          <th>Password</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user['username'] }}</td>
            <td>{{ user['firsn'] }}</td>
            <td>{{ user['lasn'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['phone'] }}</td>
            <td>{{ user['postcode'] }}</td>
            <td>{{ user['password'] }}</td>
            <td>
              <form action="{{ url_for('edit_user') }}" method="GET">
                <input type="hidden" name="user_id" value="{{ user['_id'] }}" />
                <button type="submit">Edit</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if edit_mode %}
      <form action="{{ url_for('edit_user') }}" method="POST">
        <input type="hidden" name="user_id" value="{{ user['_id'] }}" />
        <label>Username:</label><input type="text" name="username" value="{{ user['username'] }}" /><br>
        <label>First Name:</label><input type="text" name="firsn" value="{{ user['firsn'] }}" /><br>
        <label>Last Name:</label><input type="text" name="lasn" value="{{ user['lasn'] }}" /><br>
        <label>Email:</label><input type="text" name="email" value="{{ user['email'] }}" /><br>
        <label>Phone:</label><input type="text" name="phone" value="{{ user['phone'] }}" /><br>
        <label>Postcode:</label><input type="text" name="postcode" value="{{ user['postcode'] }}" /><br>
        <label>Password:</label><input type="text" name="password" value="{{ user['password'] }}" /><br>
        <button type="submit">Save</button>
      </form>

    </form>
    <form action="{{ url_for('delete_user') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?')">
      <input type="hidden" name="user_id" value="{{ user['_id'] }}" />
      <button type="submit">Delete</button>
    </form>

    {% endif %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </body>
</html>
