body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

#promotion-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.promotion {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
