<!DOCTYPE html>
<html>
<head>
    <title>Manage Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CustDev/MngProfile.css') }}">
</head>
<body>
    <header>
        {% include header %}
    </header>
    <div class="container">
        <h1>Manage Profile</h1>
        <form method="POST" action="{{ url_for('MngProfile') }}" onsubmit="return validateForm()">
            <input type="hidden" name="user_id" value="{{ user['_id'] }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ user['username'] }}" required
                oninput="validateUsername(this.value)"><br>
            <span id="usernameWarning" class="warning"></span><br>
            <label for="firsn">First Name:</label>
            <input type="text" id="firsn" name="firsn" value="{{ user['firsn'] }}" required
                oninput="validateFirstName(this.value)"><br>
            <span id="firsnWarning" class="warning"></span><br>
            <label for="lasn">Last Name:</label>
            <input type="text" id="lasn" name="lasn" value="{{ user['lasn'] }}" required
                oninput="validateLastName(this.value)"><br>
            <span id="lasnWarning" class="warning"></span><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user['email'] }}" required
                oninput="validateEmail(this.value)"><br>
            <span id="emailWarning" class="warning"></span><br>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="{{ user['phone'] }}" required
                oninput="validatePhone(this.value)"><br>
            <span id="phoneWarning" class="warning"></span><br>
            <label for="postcode">Postcode:</label>
            <input type="text" id="postcode" name="postcode" value="{{ user['postcode'] }}" required
                oninput="validatePostcode(this.value)"><br>
            <span id="postcodeWarning" class="warning"></span><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required
                oninput="validatePassword(this.value)"><br>
            <span id="passwordWarning" class="warning"></span><br>
            <button id="submitButton" type="submit">Update</button>

        </form>
    </div>
    <footer>
        {% include footer %}
    </footer>
    <script
      src="{{ url_for('static', filename='CustDev/MngProfile.js') }}"
      defer
    ></script>
</body>
</html>
