form {
    width: 50%;
    margin: 0 auto;
    padding: 2%;
    border: 1px solid #ccc;
}

label, input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
